
<body ng-controller="HomeController as controller">
<div class="title">Thrifty Cars</div>

<div class="dropdown">
  <select id="select" ng-change="controller.getMake()" ng-model="controller.search" >
  <option id="empty" value="Empty">Choose Car</option>
  <option id="GrnMCS" value="3">Mini Cooper</option>
  <option id="TesMS" value="2">Tesla</option>
  <option id="BMW" value="1">BMW</option>
</select>
</input>
</div>
<br>
<input class="search" ng-model="controller.search"
       ng-model-options="{debounce:1000}"
       ng-change="controller.fetch()" />

<ul class="list">
    <li ng-repeat="car in controller.cars ">
      <button class="btn" ng-click="controller.showModal(id)">{{car.ShortDescription}}</button>
    </li>
</ul>


</body>
