
<body ng-controller="HomeController as controller">
<div class="title">Thrifty Cars</div>

<div class="dropdown">
  <select id="select" ng-change="controller.fetch()" ng-model="controller.search">
  <option id="empty" value="Empty">Choose Car</option>
  <option id="GrnMCS" value="M">Green Mini Cooper S</option>
  <option id="OrgMCS" value="M">Orange Mini Cooper S</option>
  <option id="BlkMCC" value="M">Black Mini Cooper Countryman</option>
  <option id="TesMS" value="T">Tesla Model S</option>
  <option id="TesMX" value="T">Tesla Model X</option>
</select>
</input>
</div>
<br>
<input class="search" ng-model="controller.search"
       ng-model-options="{debounce:1000}"
       ng-change="controller.fetch()" />

<ul class="list">
    <li ng-repeat="car in controller.cars ">
      <button class="btn" ng-click="controller.showModal('{{car.ShortDescription}}')">{{car.ShortDescription}}</button>
    </li>
</ul>


</body>
