.title{
  color: yellow;
  position: relative;
  top: 100px;
  font-size: 24px;
  text-align: center;
  background-color: blue;
  height: 40px;
  length: 80%;
}

.search{
  position: relative;
  top: 150px;
  left: 447px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.list{
  position: relative;
  top: 150px;
  margin-left: auto;

}

.dropdown{
  position: relative;
  top:150px;
  left: -60px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.modal{

}
